<div class= "container">
  <h1 class = "center-align"> Edit your listing </h1>
  <div class= "row">
    <%= form_for @space do |f| %>
      <div class = "input-field">
        <%= f.text_field :title %>
        <label>Listing Name</label>
      </div>
      <div class = "input-field">
        <%= f.number_field :price, in: 1.00..3000.00 %>
        <label>Price</label>
      </div>
      <div class = "input-field">
        <%= f.text_field :street_address, type: "text"  %>
        <label for= "address">Full Street Address</label>
      </div>
      <div class = "input-field">
        <%= f.number_field :size, in: 10.0..200 %>
        <label>Estimated Square Feet of Space</label>
      </div>
      <div class = "input-field">
        <%= f.text_area :description, :class => "materialize-textarea" %>
        <label>Describe the Space</label>
      </div>
      <div class = "input-field">
        <label>Upload a photo</label><br><br>
        <%= f.file_field :photo1 %>
      </div>

      <div class="field">
          <!-- <%= f.label "Re-list this space" %> <br /> -->
          <%= f.check_box :available, value: true %> <br />
      </div>

      <br>
      <div class="center-align">
        <%= f.submit "Save your changes", :class => "btn waves-effect waves-light" %>
      </div>
    <% end %>
  </div>
</div>
