<h1> Edit your listing </h1>

<%= form_for @space do |f| %>
  <%= f.text_field :title, placeholder: "Listing Name" %>
  <%= f.number_field :price, in: 1.00..3000.00, placeholder: "Price" %>
  <%= f.text_field :street_address, placeholder: "eg. 123 Sample Lane, Sample City, Sample State, 55555" %>
  <%= f.number_field :size, in: 10.0..200, placeholder: "Estimated Square Feet" %>
  <%= f.text_area :description, placeholder: "Describe your space" %>
  Upload photos:<br>
  <%= f.file_field :photo1 %><br>
  <%= f.file_field :photo2 %>
  <%= f.submit "Save your changes", :class => "waves-effect waves-light btn" %>
<% end %>
