<h1 class="center-align"> All Spaces Available <h1>
<div class="divider"></div>

<div class="container">
  <div class="row">
    <div class="card medium">
      <div class="card-image">
        <img src="http://l18airpark.com/l18_airpark_images/10%20x%2012.jpg">
      </div>
      <div class="card-content">
        <% @space.each do |space| %>
        <span class="card-title"> <%= link_to space.title, space_path(space) %> </span>
        <%= space.price %>
        <%= space.size %>
      </div>
      <div class="card-reveal">
        <%= space.available %>
        <%= space.description %>
        <%end%>
      </div>
      <%= button_to "List Your Space", new_space_path, method: "get", class: "btn waves-effect waves-light" %>
    </div>
  </div>
</div>
