<h1 class="center-align"> All Spaces Available </h1>
<div class="divider"></div>

<div class="container">
  <!-- <div class = "row">
    Map Here
  </div> -->

  <div class="row">
    <% @space.each do |space| %>
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="<%=space.photo%> ">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"> <%= space.title %> </span>
          <p>Price: $<%= space.price %></p>
          <p>Rental Term:</p>
          <p>Square Feet: <%= space.size %></p>
        </div>
        <div class="card-reveal">
          <span class="card-title"><%= space.title %><i class="right">X</i></span>
          <p><%= space.description %></p>
        </div>
      </div>
    <%end%>
  </div>
</div>
