<h1 class="center-align"> All Spaces Available <h1>
<div class="divider"></div>

<div class="container">
  <div class="row">
    <div class="card medium">
      <div class="card-image">
        <img src="http://l18airpark.com/l18_airpark_images/10%20x%2012.jpg">
      </div>
      <div class="card-content">
        <% @space.each do |space| %>
        <span class="card-title"> <%= link_to space.title, space_path(space) %> </span>
        <%= space.price %>
        <%= space.size %>
      </div>
      <div class="card-reveal">
        <%= space.available %>
        <%= space.description %>
        <%end%>
      </div>
      <%= button_to "List Your Space", new_space_path, method: "get", class: "btn waves-effect waves-light" %>
    </div>
  </div>
</div>
    <div class="map_container">
      <div class='sidebar pad2'>Listing</div>
      <div id='map' class='map pad2'>Map</div>
    </div>

<script>
  mapboxgl.accessToken = 'pk.eyJ1Ijoiempmb25nIiwiYSI6ImNpdWQycDFldjAwN2gydG1wYjRuNHAyOTIifQ.U97c40oCoSUNVwei9HqTgg';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/zjfong/ciud2sovs00362inwfcp45fbp',
    center: [-122.444910, 37.763688],
    zoom: 12
  });
</script>
