<h1 class="center-align"> All Spaces Available </h1>
<div class="divider"></div>

<div class="container">
  <div class="row">
      <!-- <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="http://l18airpark.com/l18_airpark_images/10%20x%2012.jpg">
        </div>
        <div class="card-content">
          <% @space.each do |space| %>
          <span class="card-title activator grey-text text-darken-4"><%= space.title %></span>
          <p><%= space.price %></p>
          <p><%= space.size %></p>
          <%end%>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Card Title</span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div> -->


    <% @space.each do |space| %>
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="http://l18airpark.com/l18_airpark_images/10%20x%2012.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"> <%= space.title %> </span>
          <p><%= space.price %></p>
          <p><%= space.size %></p>
        </div>
        <div class="card-reveal">
          <span class="card-reveal"><%= space.available %></span>
          <p><%= space.description %></p>
        </div>
      </div>
    <%end%>
  </div>
</div>
