<div class= "container">
  <h1 class = "center-align"> Create a listing </h1>
  <div class= "row">
    <%= form_for(@space, as: :space, method: :post) do |f| %>
      <div class = "input-field">
        <%= f.text_field :title %>
        <label>Listing Name</label>
      </div>
      <div class = "input-field">
        <%= f.number_field :price, in: 1.00..3000.00 %>
        <label>Price</label>
      </div>
      <div class = "input-field">
        <%= f.text_field :street_address, placeholder: "ex. 225 Bush St, San Francisco, CA, 94104", type: "text"  %>
        <label for= "address">Full Street Address</label>
      </div>
      <div class = "input-field">
        <%= f.number_field :size, in: 10.0..200 %>
        <label>Estimated Square Feet of Space</label>
      </div>
      <div class = "input-field">
        <%= f.text_area :description, :class => "materialize-textarea" %>
        <label>Describe the Space</label>
      </div>
      <div class = "input-field">
        <label>Upload a photo</label><br><br>
        <%= f.file_field :photo1 %>
      </div><br>
      <div class = "input-field">
        <%= f.hidden_field :user_id, value: current_user.id %>
      </div>
      <div class="center-align">
        <%= f.submit "Create A Listing", :class => "btn waves-effect waves-light" %>
      </div>
    <% end %>
  </div>
</div>
