<h1> Create a listing </h1>

<div class= "container">
  <div class= "row">
    <%= form_for @space do |f| %>
      <div class = "input-field">
        <%= f.text_field :title %>
        <label>Listing Name</label>
      </div>
      <div class = "input-field">
        <%= f.number_field :price, in: 1.00..3000.00 %>
        <label>Price</label>
      </div>
      <div class = "input-field">
        <%= f.text_field :address, placeholder: "eg. 123 Sample Lane, Sample City, Sample State, 55555" %>
        <label>Address</label>
      </div>
      <div class = "input-field">
        <%= f.number_field :size, in: 10.0..200 %>
        <label>Estimated Square Feet of Space</label>
      </div>
      <div class = "input-field">
        <%= f.text_area :description, :class => "materialize-textarea" %>
        <label>Describe the Space</label>
      </div>
      <div class = "input-field">
        <%= f.text_field :photo %>
        <label>Upload a photo</label>
      </div>
      <%= f.submit "Create A Listing", :class => "btn waves-effect waves-light" %>
    <% end %>
  </div>
</div>
