<div class= "container">
  <h1 class = "center-align"> Create a listing </h1>
  <div class= "row">
    <%= form_for(@space, as: :space, method: :post) do |f| %>
      <div class = "input-field">
        <%= f.text_field :title %>
        <label>Listing Name</label>
      </div>
      <div class = "input-field">
        <%= f.number_field :price, in: 1.00..3000.00 %>
        <label>Price</label>
      </div>
      <div class = "row">
        <div class = "input-field col s3">
          <input id="address" type="text" class="validate">
          <label for= "address">Street Address</label>
        </div>
        <div class = "input-field col s3">
          <input id="city" type="text" class="validate">
          <label for= "city">City</label>
        </div>
        <div class = "input-field col s3">
          <input id="state" type="text" class="validate">
          <label for= "state">State</label>
        </div>
        <div class = "input-field col s3">
          <input id="zipCode" type="text" class="validate">
          <label for= "zipCode">Zip Code</label>
        </div>
      </div>
      <div class = "input-field">
        <%= f.number_field :size, in: 10.0..200 %>
        <label>Estimated Square Feet of Space</label>
      </div>
      <div class = "input-field">
        <%= f.text_area :description, :class => "materialize-textarea" %>
        <label>Describe the Space</label>
      </div>
      <div class = "input-field">
        <%= f.text_field :photo %>
        <label>Upload a photo</label><br><br><br>
        <%= f.file_field :photo1 %>
      </div>
      <div class = "input-field">
        <%= f.number_field :user_id %>
        <label>User ID</label>
      </div>
      <%= f.submit "Create A Listing", :class => "btn waves-effect waves-light" %>
    <% end %>
  </div>
</div>
