<h3>Edit Profile</h3>

<% if @user.id == current_user.id %>
  <%= form_for @user do |f| %>
    <div>
      <span class="label label-default"></span><%= f.text_field :name, placeholder: "Full Name", size: "35x10" %>
    </div>
    <br>
    <div>
      <span class="label label-default"></span><%= f.text_field :email, placeholder: "Email", size: "35x10" %>
    </div>
    <br>
     <%= f.file_field :avatar %>
     <br>
    <div class="userSubmitButton"><%= f.submit "Submit" %></div>
  <% end %>
<% else %>
  Something messed up :(
<% end %>
