
<div class= "container">
  <div class= "row">
    <h3 class = "center-align notice"><%= flash[:error] %></h3>
    <div class="col l4 offset-l4 s12">


      <h3>Sign Up</h3>

      <%= form_for @user do |f| %>
        <div>
          <span class="label label-default"></span><%= f.text_field :name, placeholder: "Full Name" %>
        </div>
        <br>
        <div>
          <span class="label label-default"></span><%= f.text_field :email, placeholder: "Email" %>
        </div>
        <br>
        <div>
          <span class="label label-default"></span><%= f.password_field :password, placeholder: "Password" %>
        </div>
        <br>
        <div class="userSubmitButton"><%= f.submit "Submit", :class => "btn waves-effect waves-light" %></div>
      <% end %>

    </div>
  </div>
</div>
