<!DOCTYPE html>
<html>
  <head>
    <title>StorageSpace</title>

    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.21.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.21.0/mapbox-gl.css' rel='stylesheet' />

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>
    <header>
      <nav>
        <div class="nav-wrapper">
          <p class="brand-logo"><%= link_to "StorageSpace", root_path %></p>
          <ul id="nav-mobile" class="right hide-on-med-and-down">

            <% if current_user %>
            <li><%= link_to "List Your Space", new_space_path %></li>
            <li><%= link_to "Profile", user_path(current_user) %></li>
            <li><%= link_to "Log Out", logout_path %></li>

            <% else %>
            <li><%= link_to "Log In", login_path %></li>
            <li><%= link_to "Sign Up", new_user_path %></li>

            <% end %>
          </ul>
        </div>
      </nav>
    </header>

  <main>

    <%= yield %>

  </main>

    <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l10 s12">
          <h5 class="white-text">Footer Content</h5>
          <p class="grey-text text-lighten-4">[content]</p>
        </div>
        <div class="col l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2016 StorageSpace
      <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
      </div>
    </div>
  </footer>

  </body>
</html>
